<ActionBar title="Mip Controller" class="action-bar">
</ActionBar>

<StackLayout class="page">
  <Label [text]="'UUID:' + deviceUUID" class="h2 text-primary text-center"></Label>
  
  <DockLayout>
    
    <Button dock="top" text="Move Forward" (tap)="moveForward()" class="btn btn-primary" width="40%"></Button>
    <Button dock="bottom" text="Move Back" (tap)="moveBack()" class="btn btn-primary" width="40%"></Button>

    <Button dock="left" text="Turn Left" (tap)="turnLeft()" class="btn btn-primary" width="40%"></Button>  
    <Button dock="right" text="Turn Right" (tap)="turnRight()" class="btn btn-primary" width="40%"></Button>
  </DockLayout>

  <Button *ngIf="!loopHandle"
    text="Start Accelerometer (interval)"
    (tap)="startAccelerometerInterval()"
    class="btn btn-primary btn-lime" width="80%">
  </Button>
  <Button *ngIf="loopHandle"
    text="Stop Accelerometer (interval)"
    (tap)="stopAccelerometerInterval()" 
    class="btn btn-primary btn-round-lg btn-ruby" width="80%">
  </Button>

  <Button *ngIf="!accelerometerSubscription.closed"
    text="Stop Accelerometer (rxjs)"
    (tap)="stopAccelerometerRxjs()" 
    class="btn btn-primary btn-round-lg btn-ruby" width="80%">
  </Button>
  <Button *ngIf="accelerometerSubscription.closed"
    text="Start Accelerometer (rxjs)"
    (tap)="startAccelerometerRxjs()"
    class="btn btn-primary btn-lime" width="80%">
  </Button>

</StackLayout>